body {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background: #292929 url("img/bb-mobile.png") no-repeat 50% 0;
  background-size: 720px auto;
  min-height: 750px;
  background: red;
}
@media (min-width: 768px) {
  body {
    background: #292929 url("img/bb-tablet.png") no-repeat 50% 0;
    background-size: 1178px auto;
  }
}
@media (min-width: 1200px) {
  body {
    background: #292929 url("img/bb-desktop.png") no-repeat 50% 0;
    background-size: 1391px auto;
  }
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-header__logo {
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
.page-header,
.page-header__logo {
  outline: none;
  background: transparent;
}
.page-header::before,
.page-header__logo::before {
  display: none;
}
.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}
.main-nav {
  width: 320px;
  margin: 0 auto;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 50px;
}
.site-list {
  /* Временно для сетки */
  min-height: 255px;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
    /* Временно для сетки */
    min-height: 70px;
  }
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
  .site-list {
    width: 780px;
  }
  .user-list {
    width: 160px;
  }
}
